* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  display: inline-block;
}

nav {
  display: flex;
}

.logo {
  height: 140px;
  width: 100px;
  display: inline-block;
}

.menu {
  justify-content: flex-end;
}